.search-input {
  width: 200px;
  height: 60px;
  float: right;
  margin-right: 50px;
  outline: none;
  background-color: #fff;
}

.search-button {
  float: right;
  margin-right: 20px;
}

.search-form .icon {
  position: absolute;
  font-size: 1.5em;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.search-form input#search:hover,
.search-form input#search:focus,
.search-form input#search:active {
  outline: none;
  background: #ffffff;
}
